.sliderContainer { width: 972px; height: 500px; /* overflow: hidden; */ position: relative; margin: 0 auto; z-index: 2; }
.sliderContainer .sliderItems { position: absolute; top: 0px; left: 0px; }
.sliderContainer .sliderItems > .item { display:none; z-index: 0; position: absolute; left: 0; top: 0; }

.sliderContainer #sliderOverlay, .sliderContainer #sliderOverlay2 { opacity: 0; z-index: 1; position: absolute; display: none; height: 100%; width: 100%; }
.sliderContainer #sliderOverlay { z-index: 2; }

/*
.sliderContainer #sliderNextDiv, .sliderContainer #sliderPrevDiv { opacity: 0; display: none; height: 100%; width: 18px; position: absolute; z-index: 2; }
.sliderContainer #sliderNextDiv { right: 0px; }
.sliderContainer #sliderPrevDiv { left: 0px; }

.sliderContainer #nextBtn, .sliderContainer #prevBtn { height: 30px; width: 18px; margin-right: auto; margin-left: auto; background-position: 0 0; background-repeat: no-repeat; position: relative; cursor: pointer; }
.sliderContainer #nextBtn { background-image: url('../images/slider-next.png'); }
.sliderContainer #prevBtn { background-image: url('../images/slider-prev.png'); }
.sliderContainer #nextBtn:hover, .sliderContainer #prevBtn:hover { background-position: 0 -30px; }
*/

.sliderContainer #sliderNextDiv, .sliderContainer #sliderPrevDiv {
  position: absolute;
  background: #FFF;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  top: 0;
}

.sliderContainer #sliderNextDiv { right: 0px; }
.sliderContainer #sliderPrevDiv { left: 0px; }

.sliderBullets { display: inline-block; height: 10px; margin: 0; position: absolute; z-index: 3; bottom: 0px; }
.sliderBullets .circleBtn { height: 10px; width: 10px; border-radius: 5px; display: inline-block; background-color: #D0E182; margin: 0 0 0 5px; cursor: pointer; }
.sliderBullets .selected, .sliderBullets .circleBtn:hover { background-color: #FFF;}
