@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background-image: url('../imgs/bkg12.png'), url('../imgs/bkg22.png');
	background-repeat: repeat-y, repeat-y;
	background-position: left, right;
	background
	width: 100%;
	background-color: white !important;
	
}


/* photography */

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px; 
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}



.textPic { 
   position: relative; 
   width: 100%; /* for IE 6 */
}


/* travel photo title */


h7 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h7 span { 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0,  0,  0, 0.55);
   padding: 10px; 
   font-family: "museo-sans", sans-serif;
   font-size: 30;
}

@media (max-width: 500px) {
  	h7 { 
   position: absolute; 
   top: 50px !important; 
   left: 0; 
   width: 100%; 
	}
	
	h7 span { 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0,  0,  0, 0.55);
   padding: 6px; 
   font-family: "museo-sans", sans-serif;
   font-size: 14 !important;
}
	
}

@media (max-width: 700px) {
  	h7 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
	}
	
	h7 span { 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0,  0,  0, 0.55);
   padding: 6px; 
   font-family: "museo-sans", sans-serif;
   font-size: 25;
}
	
}

@media (max-width: 900px) {
  	h7 { 
   position: absolute; 
   top: 90px; 
   left: 0; 
   width: 100%; 
	}
	
	h7 span { 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0,  0,  0, 0.55);
   padding: 6px; 
   font-family: "museo-sans", sans-serif;
   font-size: 20;
}
	
}



/* end photography */





.Pcontainer {
    padding: 8%; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
   /* font-family: 'Arvo'; */
   font-family: 'Arvo', sans-serif;
    transition:all .5s ease-in-out; 
   	-o-transition:all .5s ease-in-out; 
   	-moz-transition:all .5s ease-in-out; 
   	-webkit-transition:all .5s ease-in-out;
}

h2 {
	margin-top: 10px !important;
	color: #476a9b !important;
	font-family: 'Varela Round' !important;
	font-size: 30px !important;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p {
	color: #616161;
	font-family: 'Open Sans';
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
}

p2 {
	color: #9c4747;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

p3 {
	color: #878787;
	font-family: 'Montserrat' !important;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
p4 {
	color: #878787;
	font-family: 'Montserrat' !important;
	font-size: 12px !important;
}
p5 {
	color: #878787;
	font-family: 'Montserrat' !important;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: right !important;
	float: right;
}



.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}






a {
	outline: none;
	border: none;
}

img {
	outline: none;
	border: none;
}



#content #home #message,
#menuWrapper,
#contact #submit {
	font-family: "museo-sans", sans-serif;
	font-weight: 500;
}



h3, h4, h5 {
	margin-top: 5px;
	font-family: 'Open Sans' !important;
}

h1 {
	font-size: 36px;
    line-height: 35px;
    color: #7b7b7b !important;
	margin-left: 15%;
	font-family: 'Belleza', sans-serif;
	margin-bottom: 20px;

}

/*
h2 {
	font-size: 20px;
	color: rgba(46,46,46,0.79);
	font-weight: normal;
	margin: 15px;
	margin-top: 5px;
	font-family: 'Belleza', sans-serif;
	line-height: 22px;
	margin-left: 15%;
	border-top-width: 1px;
border-top-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-top: 1px solid #a7a9ac;
border-bottom: 1px solid #a7a9ac;
margin-bottom: 40px;
width: 70%;
}
*/

h3{
display: block;
	font-size: 20px;
	color: grey;
	font-weight: normal;
	margin: 15px;
	line-height: 22px;
}

h4{
	display: block;
	font-size: 16px !important;
/* 	font-style: italic; */
	color: #a8a8a8 !important;
	font-weight: normal;
	margin: 5px;
	margin-top: 10px;
	line-height: 25px !important;
}

h5{
display: block;
	font-size: 20px;
	color: grey;
	font-weight: normal;
	margin: 15px;
	line-height: 22px;
}

h6{
	display: block;
	font-family: 'Open Sans' !important;
	font-size: 10px;
	color: grey !important;
	font-weight: normal;
	line-height: 22px;
	width: 100%;
	text-align: center;
	background: rgba(169, 169, 169, 0.34);
	padding: 10px;
}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix { display: inline-block; }

/* HEADER & MENU */

nav {
	width: 100%;
	height: 25px;
	position: fixed;
	z-index: 100;
}




#menuWrapper {
	float: right;
	text-align: right;
}

/*
#menuLeft, #menuRight {
	width: 200px;
	height: 25px;
	background-image: url('../imgs/menu_back.png');
	background-repeat: repeat-x;
	min-width: 400px;
}
*/



.contactMe{
width: 90%;
/* margin-left: 55px; */
margin-right: auto;
}

#menuWrapper .item {
color: white;
font-size: 20px;
margin: 8px 0 0;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
text-decoration: none;
border-top: 10px;
background-color: black;
padding: 2px;
}


#menuWrapper .item:hover {
	color: #e5e5e5;
}

a{
	text-decoration: none;
}


#menu {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	min-width: 172px;
	text-align: center;
}

#menu div {
	width: auto;
}






/* CONTENT */

#content > section {
	width: 100%;
	position: relative;
	display: inline-block !important;
}

#content #home #topPhoto {
	z-index: 5;
	opacity: 1;
	
}

#topPhoto img{
	width: 100%;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	
}

img{
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


/* FOOTER */

footer {
  display: inline-block !important;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.fineprint {
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  width: 100%;
  bottom: 20px;
}




